* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #00ced1, #5698d7);
  background-repeat: no-repeat;
  background-position: cover;
}